<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <button ion-button (click)="openBrowser()">openBrowser</button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <button ion-button (click)="echo()">echo</button>
      </ion-buttons>
    </ion-toolbar>

    {{ value }}

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <button ion-button (click)="clear()">clear</button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-content>
